@use "~/assets/scss/_variables.scss" as vars;
@use "~/assets/scss/_mixins.scss" as mixins;


*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif; 
  color: vars.$color-text-primary;
  background-color: vars.$color-white;
  line-height: 1.6;
}

.container {
  padding-left: vars.$space-sm;
  padding-right: vars.$space-sm;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 100%;
}

@media (min-width: vars.$breakpoint-xs) {
  .container {
    width: 540px;
  }
}
@media (min-width: vars.$breakpoint-md) {
  .container {
    width: 720px;
  }
}
@media (min-width: vars.$breakpoint-lg) {
  .container {
    width: 960px;
  }
}
@media (min-width: vars.$breakpoint-xl) {
  .container {
    width: 1140px;
  }
}
@media (min-width: vars.$breakpoint-2xl) {
  .container {
    width: 1320px;
  }
}
